textarea {
    min-height: 400px;
}
.email{
    width:100%;
    height:50px;
    border:1px solid #000;
  
}
.email_basic{  
    padding-top: 12px;
    padding-left:8px;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.email_basic strong{
    padding-right:20px;
    
}
.date{
    padding-right:10px;
    color:#696969;
}
.subject    {
    flex:1;
}
.archive{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.archive span{
    flex:1;
}
.archive button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:15px;
}
.archive i{
    margin-right:5px;
    color:rgba(16, 146, 233, 0.979);
    font-size: 24px;
    
}
.archive button:hover i{
    color:rgba(255, 255, 255, 0.904);
    
}